header {
    font: size -24pt;
    font-weight: bold;
    color: red;
    background-color: lightcyan;
    padding: 1px 0px 1px 10px;
}
footer {
    clear: left;
    color: white;
    background-color:darkblue
}
footer p{
    color: white;
    font-size: small;
    clear: both;
}
.wrapper{
    display:block;
    height: 600;
    margin-left: 5px;
    margin-right: 5px;
    gap: 10px;
}
#leftcol{
    background-color: lightcyan;
    height: 400px;
    width: 250px;
    float: left;
}
#rightcol{
    height: 400px;
    margin-left: 260;
    padding: 10px 5px;
    /*overflow: auto;*/
}
